<style>
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

  *{
    font-family: 'Roboto Slab', serif;
  }
  
  
  .accordion {
    width: 800px;
    background-color: #fff;
    color: #333;
    margin-bottom: 4rem;
    margin: 3rem;
    margin-top: 2rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border-radius: 1rem;
    transition: all 0.3s ease;
  }



  .accordion.active {
    /* width: 55rem; */
    height: auto;
  }

  .accordion-head {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* cursor: pointer; */
    border-bottom: 1px solid #ccc;

  }

  

  .accordion-head h2 {
    margin: 0;
    font-size: large;
  }

  .accordion-body {
    padding: 20px;
    max-height: 0;
    display: block;
    overflow: hidden;
    transition: max-height 0.3s ease;

  }
  .accordion-body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.accordion.active .accordion-body {
  overflow: initial;
}
.accordion-body{
  padding-left: 2.7rem;
  padding-right: 2.7rem;
}

  /* New Code */
  .low {
    border-left: #00AA81;
    border-radius: 1rem;
    border-width: 0px 0px 0px 20px;
    border-style: solid;
  }

  .medium {
    border-left: rgb(192, 192, 0);
    border-radius: 1rem;
    border-width: 0px 0px 0px 20px;
    border-style: solid;
  }

  .high {
    border-left: orange;
    border-radius: 1rem;
    border-width: 0px 0px 0px 20px;
    border-style: solid;
  }

  .critical{
    border-left: rgb(175, 0, 0);
    border-radius: 1rem;
    border-width: 0px 0px 0px 20px;
    border-style: solid;
  }

  .btn1{
    background-color: #333;
    padding: 1.2rem;
    border-radius: 0.3rem;
    color: white;
  }

  .sivlow{
    background-color: #00AA81;
    margin: 1rem;
    padding: 0.4rem 1rem;
    border-radius: 0.3rem;
    color: white;
    font-weight: 800;
  }

  .sivmedium{
    background-color: rgb(192, 192, 0);
    margin: 1rem;
    padding: 0.4rem 1rem;
    border-radius: 0.3rem;
color: white;
font-weight: 800;
}

.sivhigh{
background-color: orange;
margin: 1rem;
padding: 0.4rem 1rem;
border-radius: 0.3rem;
color: white;
font-weight: 800;
}

.sivcritical{
background-color: rgb(175, 0, 0);
margin: 1rem;
padding: 0.4rem 1rem;
border-radius: 0.3rem;
color: white;
font-weight: 800;
}

nav {
display: flex;
background-color: #333;
justify-content: space-between;
align-items: center;
padding: 20px 20px;
border-radius: 1rem;
box-shadow: 0px 12px 10px rgba(0, 0, 0, 0.2);
margin-left: 2rem;
margin-right: 2rem;
position: fixed;
position: fixed;
  top: 14;
  left: 0;
  width: 90vw;
  z-index: 999;
}

.navbar-item img {
height: 35px;
}

.navbar-item-right {
margin-left: auto;
color: white;
font-weight: 500;
font-size: larger;
}
.break {
flex-basis: 100%;
height: 0;
}
ul li a {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 600px; /* adjust this value to fit your layout */
}
.btn1 a{
  text-decoration: none;
  color: white;
}
.vulnerability-name {
  width: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.page-container {
  position: relative;
  margin-bottom: 6rem;
}

</style>
<div class="page-container">
  <nav>
    <div class="navbar-item">
    <img src="../static/logo.png" alt="Logo">
    </div>
    <div class="navbar-item navbar-item-right">
    KUBE HUNTER DASHBOARD
    </div>
    </nav>
</div>


<div class="headline"></div>

<div class="container" style="display: flex; flex-wrap: wrap; gap: 1rem;justify-content: center;">
{% for vulnerability in vulnerabilities %}
<div class="accordion-container">
<div class="accordion" id="{{ vulnerability.id }}">
<div class="accordion-head {{ vulnerability.severity.lower() }}">
<div class="siv{{ vulnerability['severity'].lower() }}">{{ vulnerability['severity'].lower() }}</div>
<h2 class="vulnerability-name">{{ vulnerability['vulnerability_name'] }}</h2>
<br>
<p class="btn1 view-btn" style="cursor: pointer;">view</p>
<!-- <p class="btn1" id="solution-button" style="cursor: pointer;margin-left: 0.3rem; display: block;">Solution</p> -->
<p class="btn1 view-btn" style="cursor: pointer;margin-left: 2rem;"><a href="{{ url_for('vulnerability_solution', index=vulnerability.id) }}" class="btn-solution">Solution</a></p>


</div>
<div>
  <div class="accordion-body ">
    <p><span style="font-weight: 800;">Issue_description :</span> {{ vulnerability['issue_description'] }}</p>
    <p><span style="font-weight: 800;">Remediation :</span> {{ vulnerability['remediation'] }}</p>
    <p><span style="font-weight: 800;">Remedy_links :</span> {{ vulnerability['remedy_links'] }}</p>
    <!-- <p style="overflow-wrap: break-word;"><span style="font-weight: 800;">References: </span>{{ vulnerability['references'] }}</p> -->
    {% if vulnerability['references'] %}
<p><span style="font-weight: 800;">References:</span></p>
<ul>
  {% for ref in vulnerability['references'] %}
  <li><a href="{{ ref }}" target="_blank">{{ ref }}</a></li>
  {% endfor %}
</ul>
{% endif %}
    <br>
    <br>
    </div>
</div>

</div>
</div>
<div class="break"></div>
{% endfor %}
</div>

<script>
var accordions = document.getElementsByClassName("accordion");

for (var i = 0; i < accordions.length; i++) {
var viewButtons = accordions[i].getElementsByClassName("view-btn");

for (var j = 0; j < viewButtons.length; j++) {
  viewButtons[j].addEventListener("click", function(event) {
    event.stopPropagation();
    var accordion = this.closest(".accordion");
    accordion.classList.toggle("active");
    var accordionBody = accordion.querySelector(".accordion-body");
    if (accordionBody.style.maxHeight) {
      accordionBody.style.maxHeight = null;
    } else {
      accordionBody.style.maxHeight = accordionBody.scrollHeight + "px";
    }
  });
}}



</script>